@font-face {
    font-family: "myFont";
    src: url("../font/glyphicons-halflings-regular.woff2");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 920px;
    background-image: url("../image/bg.jpg");
    font-size: 14px;
}

header {
    width: 100%;
    background: #191918;
}

.nav-content {
    margin: 0 auto;
    width: 80%;
    position: relative;
    height: 50px;
}

.nav-left, .search-bar {
    display: inline-block;

}

.nav-left {
    position: absolute;
    left: 0;
    height: 50px;
}

.search-bar {
    background: yellow;
    position: absolute;
    right: 0;
    height: 50px;
}


.nav-content a {
    color: #eee;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin: 5px 10px;
}

.nav-content a:hover {
    color: #d5d5d5;
}

.menu {
    display: inline;
}

.menu > li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

.menu > li > a {
    display: inline-block;
}

.search-bar {
    height: 50px;
    line-height: 50px;
}

.search-bar input {
    height: 30px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
}

.search-bar button {
    height: 30px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.main {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 25px 10px;
    overflow: hidden;
}

.main > .left-content {
    width: 66%;
    display: inline-block;
    box-sizing: border-box;

}


.every-day {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px 10px 10px;
    box-shadow: 1px 1px 5px #191918;
    font-size: 16px;
}

.every-day-title:after {
    font-family: myFont;
    content: "\e122";
    color: pink;
}


.articleList {
    padding: 20px 0px;
}

.articleWrapper {
    border-radius: 5px;
    box-shadow: 1px 1px 5px #191918;
    overflow: hidden;
    margin-bottom: 20px;
}

.article {
    background-color: white;
    padding: 20px 10px;
}

.article .title {
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}

.title:hover {
    color: #337ab7;
}

.articleWrapper .mark {
    padding: 0 20px;
    background-color: #1f1f1f;
    color: #eee;
    font-size: 16px;
}

.main > .right-content-Wrapper {
    width: 34%;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 25px;
}

.right-content-Wrapper .right-content-Area {
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
    margin-bottom: 20px;
}

.right-content-Wrapper .right-content-Area .right-content-title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #abcdef;
    background-color: #191918;
    padding: 10px 15px;

}

.right-content-Area .right-content {
    background-color: #333;
    padding: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.right-content-Wrapper .right-content-Area .right-content a {
    text-decoration: none;
    color: #d78e4b;

}

.right-content-Wrapper .hot, .right-content-Wrapper .newCommentArea {
    width: 100%;
    background-color: rgb(31, 31, 31);;
    padding: 0;
    margin: 0;
}

.hot li, .newCommentArea li {
    list-style: none;
    border-bottom: 1px solid rgb(41, 41, 41);;
    padding: 15px;
}

.right-content-Wrapper .right-content-Area .hot li a {
    color: #eee;
    text-decoration: none;
}

.right-content-Wrapper .right-content-Area .hot li a:hover {
    color: #337ab7;
}

.newCommentArea > li > a {
    color: #777;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}

.newCommentArea > li > a:hover {
    color: #337ab7;
}

.user {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.user .userName {
    color: #eee;
}

.user .time {
    color: #eee;
}

.right-content-Area .linkTo {
    background-color: #333;
    padding: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.linkTo span {
    width: 45%;
    display: inline-block;
    margin-top: 10px;
}

.linkTo span a {
    color: #eee;
    text-decoration: none;

}

.linkTo a:hover {
    color: #337ab7;
}

.footer {
    padding: 15px 0;
    background-color: #2a2a2a;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    width: 100%;
}

.footer ul {
    overflow: hidden;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.footer a {
    text-decoration: none;
    color: #a2a2a2;
}


